.special-offers{
    max-width: 980px;
    height: 100%;
    // background-color: aquamarine;
    margin: 0 auto;
    padding-top: 55.5px;
    display: flex;
    flex-direction: column;
    .title{
        margin-bottom: 35.5px;
        h3{
            font-family: Proxima;
            font-weight: lighter;
            font-size: 30px;
            letter-spacing: 2px;
            // border-bottom: 2px solid black;
        }
        hr{
          width: 199px;
          height: 3px;
          background-color: black;
          margin-top: -10px;
        }
    }
    .offer-container{
        background-color: burlywood;
        width: 100%;
        height: 30px;
    }
    
}
